/* App.css */
#hero {
  position: relative;
  z-index: 1;
}

#hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("/images/philly.jpg");
  background-size: cover;
  filter: grayscale(100%);
  opacity: 0.5; /* Adjust the transparency level as needed */
  z-index: -1;
}
