/* index.css */
@import url('./css/nunito.css');
@import url('./css/melodrama.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    color-scheme: dark;
}

body {
    font-family: "Nunito-Regular", sans-serif;
}

.melodrama {
    font-family: "Melodrama-Medium", sans-serif;
}